body {
    
font-family: monospace;


}

a {
    color: #34495e;
}

a:hover, a:active {
    color:  rgb(119, 33, 231);
    text-decoration: none;
    transform: skew(-10deg);
  }

  .indextext {
      color: rgb(119, 33, 231);
      text-align: center;
      font-size:  7.5vw;
  }


  .mejpg{
    border-radius: 1%;
  
  }

  .home:hover, .home:active {
    text-decoration: none;
  }
  .contact:hover, .contact:active {
    color:  rgb(238, 44, 109);
    text-decoration: none;
    transform: skew(-11deg);
  }
  .about:hover, .about:active {
    color:  rgb(86, 203, 207);
    text-decoration: none;
    transform: skew(-11deg);
  }
  .portfolio:hover, .portfolio:active {
    color:  rgb(70, 206, 52);
    text-decoration: none;
    transform: skew(-11deg);
  }

  .resume:hover, .resume:active {
    color:  rgb(240, 236, 37);
    text-decoration: none;
    transform: skew(-11deg);
  }