body {
    
font-family: monospace;


}

a {
    color: #34495e;
}

a:hover {
    color:  rgb(119, 33, 231);
    transform: skew(-10deg);
  }

  .mejpg{
    border-radius: 1%;
  
  }

  .home:hover {
    text-decoration: none;
  }
  .contact:hover {
    color:  rgb(238, 44, 109);
    text-decoration: none;
    transform: skew(-11deg);
  }
  .about:hover {
    color:  rgb(86, 203, 207);
    text-decoration: none;
    transform: skew(-11deg);
  }
  .portfolio:hover {
    color:  rgb(70, 206, 52);
    text-decoration: none;
    transform: skew(-11deg);
  }

  .resume:hover {
    color:  rgb(240, 236, 37);
    text-decoration: none;
    transform: skew(-11deg);
  }

  .indextext {
    color: rgb(121, 32, 236);
    text-align: center;
    font-size:  7.5vw;
}

.avatar{
  background-color:rgb(160, 153, 153);
    border:.02px solid grey;    
    height:200px;
    border-radius: 8px;
    box-shadow: 4px 3px 5px 0px rgba(209,194,209,0.76);


    width:auto;
  
  }

  .co{
    display: flex;
    justify-content: center;
  }
